<%- include('./partials/head.ejs')%>
<%- include('./partials/nav.ejs')%>

<div class="container">

        <img src="/images/about.jpg" style=" margin:0 10%;">

</div>
<%- include('./partials/footer.ejs') %>